<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vinh.multichoice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".InfoActivity"
            android:label="Thông tin" />
        <activity android:name=".online.ExamListActivity" />
        <activity android:name=".online.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FileImportActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Thêm tập tin" />
        <activity
            android:name=".FormTestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".DeclareTest"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Kiểm tra" />
        <activity android:name=".EditActivity" />
        <activity android:name=".FormActivity" />
        <activity
            android:name=".ListTypeActivity"
            android:label="Danh sách" />
        <activity
            android:name=".FormAddActivity"
            android:label="Thêm câu hỏi"
            android:theme="@style/AppTheme" />
    </application>

</manifest>